

<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg">
    <!-- Branding on left side-->
    <a class="navbar-brand" routerLink="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  <!-- Main Nav panel -->
  <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
            <a class="nav-link" routerLink="/products">Products<span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
            <a class="nav-link" routerLink="/addproduct">Add Product<span class="sr-only">(current)</span></a>
        </li>
  
    </ul>
      
     
    </div>
  </nav>
    <router-outlet></router-outlet>